/* Ordine per Mobile First
    - Caso Base --> Mobile; 
    - Tablet --> In Media Query min-width: 768px;*/

    @media screen and (min-width: 768px) {
        .card  {
         width: calc((100% / 3) - 10px);
        }
        .card:first-child {
         width: calc(((100% / 3) * 2) - 10px);
        }
        .cards {
        display: flex;
        }
        .lilac .container .tablet .col {
         width: calc((100% /2) - 10px);
        }
        .about-us .container .row .col {
         width: 50%;
        }
     }
   /* - Desktop --> In Media Query min-width: 992px;*/ 
    
   @media screen and (min-width: 992px) {
    nav {
      display: block;
    }
    header a {
        text-decoration: none;
    }
    .hamburger {
        display: none;
    }
    header button {
        border-radius: 20px;
        padding: 10px 10px;
        border: none;
    }
   .lilac > .container > .row > .desktop{
       margin: 60px 0;
       margin-left: 20px;
    }

    .row .card .col {
    flex-wrap: nowrap;
}
    .lilac .container .row .col {
        width: calc((100% / 2) - 20px);
    }
    .lilac .container .tablet .benefits {
        width: calc((100% / 3) - 10px);
       }
    footer ul {
       margin-left: 150px;
    }
   }
     