/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --bg-color: dodgerblue;
    --color: mediumslateblue;
}
.container {
    margin: 0 auto;
    width: 60%;
}
.debug {
    border: 1px dashed black;
    min-height: 100px;
    min-width: 100px;
}
header {
    background-color: var(--bg-color);
}
.flex {
    display: flex;
}
header .row {
    justify-content: space-between;
    color: white;
}
nav {
    display: none;
}
main .container .row {
        flex-wrap: wrap;
}
.card {
    background-color: lightblue;
    border-radius: 20px;
}
.card > .col {
    width: 100%;
    text-align: center;
}
.row .col {
    text-align: center;
} 
main > .container > .row .card h2 {
    color: var(--bg-color);
}
.row > .card > .col > div > button {
    background-color: var(--bg-color);
    color: white;
}
.row .card .col {
    flex-wrap: wrap;
}
 main .col > .fa-solid {
    font-size: 3em;
    color: var(--bg-color);
}
.testimonial h2 {
    color: var(--color);
}
.card img, .lilac img, .cards img, .about-us img{
    width: 100%;
}
.white button {
    background-color: var(--color);
}
.white{
    background-color: white;
    color: black;
    text-align: center;
}
.lilac {
    background-color:var(--color);
    color: white;
}
.lilac .row {
    flex-wrap: wrap;
}
.lilac .col {
    width: 100%;
    border-radius: 20px;
}
.testimonial, .lilac h2 {
    text-align: center;
}
.cards {
    background-color:var(--color);
    border-radius: 20px;
    color: white;
}
.cards > .col {
    width: 100%;
}
.tablet h2, .tablet h3, .tablet p, .about-us p{
    text-align: left;
}
.tablet h2, .tablet h3 {
    color: var(--color);
}
.about-us .row {
    flex-wrap: wrap;
}
.about-us h3 {
    color: var(--color);
    text-align: left;
}
.container .row .col {
    width: 100%;
}
footer {
    background-color: black;
}
.footer-bottom {
    color: white;
}


