/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
:root {
    --bg-color: dodgerblue;
}
.container {
    margin: 0 auto;
    width: 60%;
}
.debug {
    border: 1px dashed black;
    min-height: 100px;
    min-width: 100px;
}
header {
    background-color: var(--bg-color);
}
.flex {
    display: flex;
}
header .row {
    justify-content: space-between;
    color: white;
}
nav {
    display: none;
}
.card {
    background-color: lightblue;
    flex-wrap: wrap;
    border-radius: 20px;
}
.card > .col {
    width: 100%;
    text-align: center;
}
#phone {
    text-align: center;
}
.card img {
    width: 50%;
}
.lilac {
    background-color:mediumslateblue;
}
.lilac .row {
    flex-wrap: wrap;
}
.lilac .col {
    width: 100%;
    border-radius: 20px;
}
.cards {
    flex-wrap: wrap;
    background-color: mediumslateblue;
    border-radius: 20px;
    color: white;
}
.cards > .col {
    width: 100%;
}